html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 35px;
  height: 100%;
  font-family: 'Varela Round', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(45deg, #FF7676 0%, #F54EA2 100%);
  color: #fff;
}

:focus {
  outline: 0;
}

p {
  opacity: 0.8;
  font-size: 18px;
  letter-spacing: -0.33px;
  line-height: 30px;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -1px;
}

strong {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.container .aligner-item {
  flex: 1;
}

.container .aligner-item-top {
  align-self: flex-start;
}

.container .aligner-item-bottom {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.button {
  background: #fff;
  color: #FA628D;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24);
  border-radius: 100px;
  padding: 20px 45px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.select {
  background: #fff;
  color: #FA628D;
  border: none;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.disabled {
  opacity: 0.7;
}

.button.disabled:hover {
  opacity: 0.7;
  cursor: initial;
  pointer-events: none;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button.facebook {
  background: #3b5998;
  color: #fff;
}

.button.twitter {
  background: #1da1f2;
  color: #fff;
}

.text-center {
  text-align: center;
}

.gap-bottom {
  margin-bottom: 15px;
}

.gap-bottom-large {
  margin-bottom: 25px;
}

.pad-bottom {
  padding-bottom: 15px;
}

.pad-bottom-large {
  padding-bottom: 25px;
}

@media only screen and (min-width: 300px) and (max-width: 736px) {
  body {
    padding: 15px;
    font-size: 14px;
  }

  p {
    font-size: 14px;
    letter-spacing: -0.33px;
    line-height: 21px;
  }

  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1px;
  }

  .gap-bottom {
    margin-bottom: 10px;
  }

  .gap-bottom-large {
    margin-bottom: 15px;
  }

  .pad-bottom {
    padding-bottom: 10px;
  }

  .pad-bottom-large {
    padding-bottom: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .container .aligner {
    min-height: calc(100vh - 30px);
  }
}
